<section class="sec price each" id="focused_list">
    <!-- <h2 class="ttlh2" style="font-family: auto;">Danh Mục Sản Phẩm</h2> -->
    <div class="tabs">
        <input id="cate1" type="radio" name="tab_item1" checked="">
        <label class="tab_item" for="cate1" >
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">iPhone New</font>
            </font>
        </label>
        <input id="cate2" type="radio" name="tab_item1">
        <label class="tab_item" for="cate2">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">iPhone Cũ</font>
            </font>
        </label>
        <input id="cate3" type="radio" name="tab_item1">
        <label class="tab_item" for="cate3">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">iPad</font>
            </font>
        </label>
        <input id="cate4" type="radio" name="tab_item1">
        <label class="tab_item" for="cate4">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Macbook New</font>
            </font>
        </label>
        <input id="cate5" type="radio" name="tab_item1">
        <label class="tab_item" for="cate5">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Macbook Cũ</font>
            </font>
        </label>
        <input id="cate6" type="radio" name="tab_item1">
        <label class="tab_item" for="cate6">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Air Pods</font>
            </font>
        </label>
        <input id="cate7" type="radio" name="tab_item1">
        <label class="tab_item" for="cate7">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Android</font>
            </font>
        </label>
        <input id="cate8" type="radio" name="tab_item1">
        <label class="tab_item" for="cate8">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Laptop</font>
            </font>
        </label>
        <!--カテ始まり-->
        <div class="tab_content" id="cate1_content">
            <div class="tab_content_description">
                <div class="tab_content_ttl">
                    <h2>
                        
                    </h2>
                </div>
                <ul class="tab_content_ul">
                    <li *ngFor="let iphone of iphone_new">
                        <p>
                            <a routerLink="/detail" (click)="test($event)" [state]="(iphone.id)">
                                <span class="pics">
                                    <img [src]="iphone.image1" alt="">
                                </span>
                                <span class="NorU new">New</span>
                                <span class="name">
                                    {{iphone.name}} </span>
                                <span class="price">
                                    
                                    <em> {{iphone.price}}</em>
                                </span>
                            </a>
                        </p>
                    </li>
                   
                </ul>
            </div>
        </div>

        <div class="tab_content" id="cate2_content">
            <div class="tab_content_description">
                <div class="tab_content_ttl">
                    <h2>
                        
                    </h2>
                </div>
                <ul class="tab_content_ul">
                    <li *ngFor="let iphone of iphone_old">
                        <p>
                            <a routerLink="/detail">
                                <span class="pics">
                                    <img [src]="iphone.image1" alt="">
                                </span>
                                <span class="NorU new">New</span>
                                <span class="name">
                                    {{iphone.name}} </span>
                                <span class="price">
                                    
                                    <em> {{iphone.price}}</em>
                                </span>
                            </a>
                        </p>
                    </li>
                   
                </ul>
            </div>
        </div>

        <div class="tab_content" id="cate3_content">
            <div class="tab_content_description">
                <div class="tab_content_ttl">
                    <h2>
                        
                    </h2>
                </div>
                <ul class="tab_content_ul">
                    <li *ngFor="let iphone of ipad_new">
                        <p>
                            <a routerLink="/detail">
                                <span class="pics">
                                    <img [src]="iphone.image1" alt="">
                                </span>
                                <span class="NorU new">New</span>
                                <span class="name">
                                    {{iphone.name}} </span>
                                <span class="price">
                                    
                                    <em> {{iphone.price}}</em>
                                </span>
                            </a>
                        </p>
                    </li>
                   
                </ul>
            </div>
        </div>

        <div class="tab_content" id="cate4_content">
            <div class="tab_content_description">
                <div class="tab_content_ttl">
                    <h2>
                        
                    </h2>
                </div>
                <ul class="tab_content_ul">
                    <li *ngFor="let iphone of macbook_new">
                        <p>
                            <a routerLink="/detail">
                                <span class="pics">
                                    <img [src]="iphone.image1" alt="">
                                </span>
                                <span class="NorU new">New</span>
                                <span class="name">
                                    {{iphone.name}} </span>
                                <span class="price">
                                    
                                    <em> {{iphone.price}}</em>
                                </span>
                            </a>
                        </p>
                    </li>
                   
                </ul>
            </div>
        </div>

        <div class="tab_content" id="cate5_content">
            <div class="tab_content_description">
                <div class="tab_content_ttl">
                    <h2>
                        
                    </h2>
                </div>
                <ul class="tab_content_ul">
                    <li *ngFor="let iphone of macbook_new">
                        <p>
                            <a routerLink="/detail">
                                <span class="pics">
                                    <img [src]="iphone.image1" alt="">
                                </span>
                                <span class="NorU new">New</span>
                                <span class="name">
                                    {{iphone.name}} </span>
                                <span class="price">
                                    
                                    <em> {{iphone.price}}</em>
                                </span>
                            </a>
                        </p>
                    </li>
                   
                </ul>
            </div>
        </div>

        <div class="tab_content" id="cate6_content">
            <div class="tab_content_description">
                <div class="tab_content_ttl">
                    <h2>
                        
                    </h2>
                </div>
                <ul class="tab_content_ul">
                    <li *ngFor="let iphone of airPods_new">
                        <p>
                            <a routerLink="/detail">
                                <span class="pics">
                                    <img [src]="iphone.image1" alt="">
                                </span>
                                <span class="NorU new">New</span>
                                <span class="name">
                                    {{iphone.name}} </span>
                                <span class="price">
                                    
                                    <em> {{iphone.price}}</em>
                                </span>
                            </a>
                        </p>
                    </li>
                   
                </ul>
            </div>
        </div>


    </div>
</section>