<footer>
    <div class="wrap">
        <div class="bottom">
            <div class="left">
                <div class="row25">
                    <ul itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                        <li class="fir" style="color: #ec7822;">Tony Le Mobile 株式会社</li>
                        <li class="fir" >高田馬場3丁目12-8高田馬場センタービル201</li>
                        <li class="fir" >Shinjuku,tokyo</li>
                        <li class="fir" >Nhật Bản 169-0075</li>
                    </ul>
                </div>



            </div>
            <!--left-->
            <div class="right">
                <div>
                    <p class="tel"><img src="./assets/images/Email.png" alt="" style="height: 32px; width: 32px;margin-right: 15px;"><a href="mailto: tonylemobile2016@gmail.com" style="color: #585858;">tonylemobile2016@gmail.com</a></p>
                    <p class="tel"><img src="./assets/images/Phone2.png" alt="" style="height: 32px; width: 32px;margin-right: 15px;"><a href="tel:
                        +81 90-4949-1368" style="color: #585858;">
                            +81 90-4949-1368</a><br>
                    </p>
                    <p class="tel"><img src="./assets/images/Home_Phone.png" alt="" style="height: 32px; width: 32px;margin-right: 15px;"><a href="tel:03-6279-1869" style="color: #585858;">03-6279-1869&nbsp;(店頭専用)</a><br>
                    </p>
                    <p class="tel"><a href="https://www.google.com/maps/dir/10.780672,106.7122688/35.7128205,139.7006934/@22.1909739,104.935134,4z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0" >
                        <img src="./assets/images/Google_Map.png" style="height: 32px; width: 32px; margin-right: 10px;" ></a>
                    <a href="https://www.facebook.com/TonyLeMobileTakadanobabaTokyo" ><img src="./assets/images/facebook.png" style="height: 32px; width: 32px"></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <!--footer info-->

        <!--/footer info-->
    </div>
     

  
</footer>