<footer>
    <div class="wrap">
        <div class="bottom">
            <div class="left">
                <div class="row25">
                    <ul itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">	
                        <li class="fir">買取メニュー</li>
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/search">詳細検索</a></li>	
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/category">カテゴリ一覧</a></li>  
                    </ul>
                </div>
                <div class="row25">
                    <ul itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">	
                        <li class="fir">初めての方</li>
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/signup">新規会員登録</a></li>
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/guide/order/shopcounter">店頭買取</a></li>
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/guide/order/mail">郵送買取</a></li>
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/faq">よくある質問</a></li>
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/about">買取ルデヤについて</a></li>
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/accessmap">アクセスマップ</a></li>	
                    </ul> 
                </div>
                <div class="row25">
                    <ul itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">	
                        <li class="fir">会員メニュー</li>
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/auth">ログイン</a></li>
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/mypage">マイページ</a></li>
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/cart">カートを見る</a></li>	  
                   </ul>
                </div>
                <div class="row25">
                    <ul itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">	
                        <li class="fir">ご利用について</li>
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/company">運営会社</a></li>  
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/foruse">利用規約</a></li>
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/company#kobutsu">古物営業法に基づく表記</a></li>
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/privacy">プライバシーポリシー</a></li>
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/securityaction">情報セキュリティ基本方針</a></li>
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/accessmap">アクセスマップ</a></li>  
                        <li itemprop="name"><a itemprop="url" href="https://kaitori-rudeya.com/sitemap">サイトマップ</a></li>  
                    </ul>
                </div>
            </div>
            <!--left-->
            <div class="right">
                <div>
                    <p class="form"><a href="https://kaitori-rudeya.com/inquiry">お問い合わせフォーム</a></p>
                    <p class="tel"><a href="tel:0369086638">03-6908-6638</a><br>
                    </p><p class="tel"><a href="tel:0369086956">03-6908-6956&nbsp;(店頭専用)</a><br>
                    </p><p class="attention">店頭FAX：03-6908-6958</p>
                    <p class="attention">営業時間：10時〜19時（月〜土・祝）</p>
                    <p class="attention">定休日：日曜日</p>
                    <p class="attention">※時間外のお問合わせはフォームにてお願い致します。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap"> 
        <!--footer info-->
        <address>
            copyright(c)2020 買取ルデヤ All Rights Reserved. [東京都公安委員会　第304361307130号]
        </address>
        <!--/footer info--> 
    </div>
</footer>